@model Titulacion.Clases.Put.Cargo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">@Html.DisplayNameFor(model => model.Id): @Model.Id</label>
                <input asp-for="Id" type="hidden" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="handleClick()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Cargos">Volver</a>
</div>

<script>
    const handleClick = () => {
        form = getForm()
        confirmar("Desea editar la información del cargo?", "Esta apunto de editar la información del cargo", "Editar", "Editado", form)
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
