@model Titulacion.Clases.Put.Carrera

@{
    ViewData["Title"] = "Editar";
    List<SelectListItem> departamentos = ViewBag.departamentos;
}

<h1>Editar</h1>

<h4>Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCarrera" class="control-label">@Html.DisplayNameFor(model => model.IdCarrera): @Model.IdCarrera</label>
                <input asp-for="IdCarrera" class="form-control" type="hidden"/>
                <span asp-validation-for="IdCarrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger">@ViewBag.errorCarrera</span>
            </div>
            <div class="form-group">
                <label asp-for="IdDpto" class="control-label"></label>
                <select asp-for="IdDpto" asp-items="@departamentos" class="form-control"></select>
                <span asp-validation-for="IdDpto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="handleClick()" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Carreras">Volver</a>
</div>

<script>
    const handleClick = () => {
        form = getForm()
        confirmar("Desea editar la información de la carrera?", "Esta apunto editar la información de una carrera", "Editar", "Editado", form)
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
