@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .logo-small {
        max-width: 150px; /* Ajusta este valor según el tamaño deseado */
    }
</style>
<div class="container mt-5">
    <div class="text-end">
        <img src="~/img/logo-tec.png" class="img-fluid  logo-small" alt="Logo TEC">
    </div>
    <div class="text-center">
        <h1>Instituto Tecnológico de Jiquilpan</h1>
    </div>
    <div class="mt-4">
        <h2 class="text-primary">Misión</h2>
        <p>
            En el Instituto tecnológico de Jiquilpan, Institución de Educación Pública de nivel superior, nuestra Misión es ofrecer al estudiante la experiencia educativa necesaria para que llegue a ser profesionista con calidad técnica y humana, comprometido con el desarrollo equilibrado y sustentable de su región y del país.
        </p>
    </div>
    <div class="mt-4">
        <h2 class="text-primary">Visión</h2>
        <p>
            Ser la mejor opción de educación superior tecnológica en la región Ciénega de Chápala.
        </p>
    </div>
    <div class="mt-4">
        <h2 class="text-primary">Valores</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Calidad:</strong> El cambio hacia la excelencia nos exige una transformación permanente del conocimiento, las actitudes, las habilidades y los valores que aplicamos y procesamos en todas y cada una de las actividades que realizamos.
            </li>
            <li class="list-group-item">
                <strong>Honestidad:</strong> Es la base fundamental de las virtudes que deben identificar al Instituto. La honestidad nos lleva al conocimiento de la verdad, a comprender la perfectibilidad del ser humano, nos permite reconocer los límites del saber y nos ayuda a crear conciencia y tomar acción.
            </li>
            <li class="list-group-item">
                <strong>Justicia:</strong> Es el pilar que sustenta nuestro lema: "Justicia Social en la Tecnificación Industrial". Para que pueda generarse una evolución progresiva de la calidad de vida de la sociedad hay que proceder con equidad e imparcialidad en cada una de las acciones que emprendamos.
            </li>
            <li class="list-group-item">
                <strong>Lealtad:</strong> Implica que todos los integrantes del Instituto nos sentimos parte de él, que estamos comprometidos con la vida institucional y en la adversidad defender con pasión su esencia.
            </li>
            <li class="list-group-item">
                <strong>Respeto:</strong> La interacción con los demás, conlleva no rebasar la libertad del otro; reconocer el derecho de nuestros semejantes de tener concepciones diferentes a las nuestras posibilita el conocimiento conjunto y la convivencia en armonía.
            </li>
            <li class="list-group-item">
                <strong>Responsabilidad:</strong> Gozar de la libertad implica el enfrentar el resultado de nuestras acciones y nuestras decisiones; el ser humano no es un ente aislado y tiene, por lo tanto, una responsabilidad para consigo mismo, para con los demás, para con la sociedad y con el medio que lo rodea.
            </li>
            <li class="list-group-item">
                <strong>Unidad:</strong> Se manifiesta al actuar como si fuéramos uno; en un ambiente de integración y compañerismo, el espíritu solidario es el factor que permite sumar esfuerzos para multiplicar los logros.
            </li>
        </ul>
    </div>
</div>