@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container content-section">
    <div class="text-center">
        <h1>Información para la Titulación</h1>
    </div>
    <div class="mt-4">
        <p>
            El (La) Sustentante debe seleccionar la opción de titulación que le aplica a su plan de estudios, según su número de control y carrera, para esto puede usar el siguiente documento PDF, que además le ayudará en el llenado de la solicitud de titulación o puede consultar la página <a href="http://itjiquilpan.edu.mx/titulacion.aspx" target="_blank">http://itjiquilpan.edu.mx/titulacion.aspx</a> donde encuentras los normativos y lineamientos, requisitos de titulación y solicitud de titulación según su plan de estudios.
        </p>
        <p>
			<strong>Opciones de titulación según su número de control y carrera</strong>
			<a href="~/Docs/Opciones de titulación según su número de control y carrera.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            Para evitar malos entendidos en su proceso de titulación te recomendamos leer el siguiente oficio emitido por la Subdirección Académica y el Comité Académico con fecha del 7 de marzo de 2023, en el que se indica la Vigencia del Proyecto de Residencias Profesionales y Otros Proyectos.
        </p>
        <p>
            <strong>Vigencia de un proyecto para el tramite de titulación</strong>
            <a href="~/Docs/Oficio No OID-062-23.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            <strong>Comunicado del 19 de septiembre de 2023</strong>
            <a href="~/Docs/No Oficio O.I.22023.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            La boleta TOEFL ITP o iBT debe tener como mínimo 400 puntos (ITP) y 42 puntos (iBT) para los números de control menores a 2015 y para los números de control del 2015 en adelante como mínimo 466 puntos (ITP) y 42 puntos (iBT).
        </p>
        <p>
            Por otra parte, debes tomar en cuenta los siguientes comunicados emitido por la Coordinación de Lenguas Extranjeras, para evitar malos entendidos, cualquier duda puedes comunicarte a los teléfonos del ITJ con el Departamento de Gestión Tecnológica y Vinculación o la Coordinación de Lenguas Extranjeras.
        </p>
        <p>
            <strong>Comunicado del 7 de octubre de 2020</strong>
            <a href="~/Docs/Comunicado 7-Oct-2020.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            <strong>Comunicado del 9 de marzo del 2023</strong>
            <a href="~/Docs/Verificación de Boleta TEOFL.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            <strong>Lineamiento Administración y operación del PCLE</strong>
            <a href="~/Docs/Lineamiento Operación y Administración del PCLE.pdf" class="btn btn-primary" download>Descargar PDF</a>
        </p>
        <p>
            Antes de continuar con el trámite de titulación debes contar con el Certificado de Licenciatura y Constancia de Acreditación de Lengua Extranjera. Además, realizar el Pago para Derechos de Acto de Recepción Profesional y Título en el Banco Scotiabank por el monto de $2,300.00 (Dos Mil Trescientos Pesos 00/100 M. N.) a la cuenta del Instituto Tecnológico de Jiquilpan 1389-7 o a la clabe interbancaria 044494030000138970, para ir al paso 2.
        </p>
        <p>
            <strong>NOTA:</strong> Solicita en la ventanilla de la institución bancaria que se anote tu número de control en el concepto de la ficha de depósito, además, te comentamos que tienes 15 días para hacer el cambio de tu ficha de depósito por el recibo oficial en las Oficinas de Recursos Financieros del ITJ y si tu pago es en el mes de diciembre, la ficha debe ser entregada en el mismo mes para evitar que tu pago ya no sea válido.
        </p>
    </div>
</div>