@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container content-section">
    <div class="text-center">
        <h1>Acto de Recepción Profesional</h1>
    </div>
    <div class="mt-4">
        <p>
            Cuando el (la) Sustentante entregue el documento impreso y/o los discos, recibirá su aviso de tu acto de recepción profesional de la División de Estudios Profesionales o del Coordinador de Apoyo a la Titulación y le pedimos que el día de su Acto de Recepción Profesional PRESENCIAL nos entregue 4 (cuatro) fotografías tamaño credencial ovaladas, con dimensiones (3.4x5 cm), en blanco y negro, en el Departamento de Servicios Escolares u Oficina de Servicios Estudiantiles, para el caso de las Mujeres, vestimenta formal, saco obscuro, camisa clara, maquillaje y aretes discretos y cabello recogido o suelto detrás de las orejas; para los Hombres, vestimenta formal, saco obscuro, camisa clara, con corbata y totalmente afeitados. No se aceptan fotografías instantáneas o de baja calidad, quienes estregaron 8 fotografías en el trámite de su graduación ya NO tienen que traer más fotografías.
        </p>
        <p>
            La División de Estudios Profesionales o el Coordinador de Apoyo a la Titulación, publican como retroalimentación, a el (la) Sustentante, al Departamento Académico correspondiente, al Departamento de Servicios Escolares y a la Oficina de Servicios Estudiantiles el Aviso de Realización del Acto de Recepción Profesional (ARARP-NoControl.pdf), en donde se indica la fecha, hora y opción de titulación de dicho acto. Además, se publican para el Sustentante el Juramento de Ética Profesional (JEP-NoControl.pdf) y para el Presidente del acto el Código de Ética Profesional (CEP-NoControl.pdf) y la Toma de Protesta (TP-NoControl.pdf), documentos necesarios para el acto de recepción profesional a distancia.
        </p>
    </div>
</div>
