@model Titulacion.Clases.Put.ActualizarProcTitulacion

@{
    ViewData["Title"] = "GestionarProcesoTitulacion";
    List<SelectListItem> opciones = ViewBag.opciones;
}

<h1>Gestionar Proceso de Titulacion de @ViewBag.nombre</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GestionarProcesoTitulacion" class="d-flex flex-column gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" value="@ViewBag.nombre" hidden />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoControl" class="control-label"></label>
                <input asp-for="NoControl" class="form-control" hidden />
                <span asp-validation-for="NoControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scni" class="control-label"></label>
                <select asp-for="Scni" asp-items="@opciones "></select>
                <span asp-validation-for="Scni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cni" class="control-label"></label>
                <select asp-for="Cni" asp-items="@opciones "></select>
                <span asp-validation-for="Cni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cl" class="control-label"></label>
                <select asp-for="Cl" asp-items="@opciones "></select>
                <span asp-validation-for="Cl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caii" class="control-label"></label>
                <select asp-for="Caii" asp-items="@opciones "></select>
                <span asp-validation-for="Caii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rp" class="control-label"></label>
                <select asp-for="Rp" asp-items="@opciones "></select>
                <span asp-validation-for="Rp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rps" class="control-label"></label>
                <select asp-for="Rps" asp-items="@opciones "></select>
                <span asp-validation-for="Rps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St" class="control-label"></label>
                <select asp-for="St" asp-items="@opciones "></select>
                <span asp-validation-for="St" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pro" class="control-label"></label>
                <select asp-for="Pro" asp-items="@opciones "></select>
                <span asp-validation-for="Pro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sl" class="control-label"></label>
                <select asp-for="Sl" asp-items="@opciones "></select>
                <span asp-validation-for="Sl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lp" class="control-label"></label>
                <select asp-for="Lp" asp-items="@opciones "></select>
                <span asp-validation-for="Lp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asnc" class="control-label"></label>
                <select asp-for="Asnc" asp-items="@opciones "></select>
                <span asp-validation-for="Asnc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oi" class="control-label"></label>
                <select asp-for="Oi" asp-items="@opciones "></select>
                <span asp-validation-for="Oi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curp" class="control-label"></label>
                <select asp-for="Curp" asp-items="@opciones "></select>
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rfc" class="control-label"></label>
                <select asp-for="Rfc" asp-items="@opciones "></select>
                <span asp-validation-for="Rfc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cb" class="control-label"></label>
                <select asp-for="Cb" asp-items="@opciones "></select>
                <span asp-validation-for="Cb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
