
@{
    ViewData["Title"] = "SubirSCNI";
}

<h1>Buffered File Upload</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="text" name="doc" placeholder="archivo" />
    <button type="submit">Upload File</button>
</form>