@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center py-5">
    <img src="~/img/logo-tec.png" class="img-fluid" alt="Logo TEC">
    <h1 class="display-4 mt-4">¡Bienvenido!</h1>
    <p class="lead mt-3">Sistema de titulación</p>
</div>
