@model Titulacion.Clases.Post.Departamento

@{
    ViewData["Title"] = "Insertar";
    string error = string.Empty;
    @if (ViewBag.error != null)
    {
        error = ViewBag.error;
    }

    List<string> docentes = ViewBag.docentes;
}

<h1>Insertar</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" asp-action="Insertar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger">@ViewBag.error</span>
            </div>
            <div class="form-group">
                <label asp-for="JefeDpto" class="control-label"></label>
                <input asp-for="JefeDpto" list="docentes" class="form-control" />
                <datalist id="docentes">
                    @foreach (var docente in docentes)
                    {
                        <option value=@docente></option>
                    }
                </datalist>
                <span asp-validation-for="JefeDpto" class="text-danger">@ViewBag.errorDocente</span>
            </div>
            <div class="form-group">
                <input type="button" value="Crear nuevo" onclick="handleClick()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Departamentos">Back to List</a>
</div>

<script>
    const handleClick = () => {
        form = getForm()
        confirmar("Desea insertar un nuevo departamento?", "Esta apunto insertar un nuevo departamento", "Insertar", "Insertado", form)
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
